<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.antisoch">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntiSoch">

        <!-- 🚀 LAUNCHER ACTIVITY -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🧠 Help & Chatbot Activities -->
        <activity android:name="com.example.antisoch.HelpScreenActivity" android:exported="false" />
        <activity android:name="com.example.antisoch.DashboardActivity" android:exported="false" />
        <activity android:name="com.example.antisoch.ChatBotScreenActivity" android:exported="false" />
        <activity android:name="com.example.antisoch.ChatHistoryActivity" android:exported="false" />
        <activity android:name="com.example.antisoch.MyContactsActivity" android:exported="false" />
        <activity android:name="com.example.antisoch.ProfileActivity" android:exported="false" />

        <!-- 🧱 Community Feature Activities -->
        <activity android:name=".SplashLogoActivity" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".IntroActivity2" />
        <activity android:name=".IntroActivity3" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ChooseAvatarActivity" />
        <activity android:name=".WelcomeBackActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name="com.example.antisoch.MainActivity" android:exported="false" />
        <activity android:name="com.example.antisoch.SplashActivity2" android:exported="false" />
        <activity android:name="com.example.antisoch.MainActivity2" android:exported="false" />

        <!-- 📝 Post & Comment Related -->
        <activity
            android:name="com.example.antisoch.CreatePostActivity"
            android:label="Create Post"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name="com.example.antisoch.UserPostsActivity"
            android:label="Your Space"
            android:theme="@style/AppTheme" />
        <activity android:name="com.example.antisoch.EditPostActivity" />
        <activity
            android:name="com.example.antisoch.CommentActivity"
            android:exported="false">
            <meta-data android:name="android.app.lib_name" android:value="" />
        </activity>
        <!-- 🎮 Game Activities -->
        <activity
            android:name="com.example.antisoch.game.backstory"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.example.antisoch.game.CreateProfileActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.example.antisoch.game.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.example.antisoch.game.CharacterSelectActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.example.antisoch.game.LevelMapActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.example.antisoch.game.LevelOneActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
        <activity
            android:name="com.example.antisoch.game.MainActivityGame"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            tools:ignore="DiscouragedApi" />
    </application>

</manifest>
